// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    font-size: 62.5%;
    height: 100%;
}
body {
  height: 100%;
}

header {
  background-color: #0000FF;
  height: 30px;
}

footer {
  background-color: #0000FF;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}
